$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?bfd971415c1b2d3927a33da777606046") format("truetype"),
url("./flaticon.woff?bfd971415c1b2d3927a33da777606046") format("woff"),
url("./flaticon.woff2?bfd971415c1b2d3927a33da777606046") format("woff2"),
url("./flaticon.eot?bfd971415c1b2d3927a33da777606046#iefix") format("embedded-opentype"),
url("./flaticon.svg?bfd971415c1b2d3927a33da777606046#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "phone-call": "\f101",
    "list": "\f102",
    "menu": "\f103",
    "heart": "\f104",
    "up-and-down-arrows": "\f105",
    "camera": "\f106",
    "hide": "\f107",
    "show": "\f108",
    "twitter": "\f109",
    "twitter-1": "\f10a",
    "linkedin": "\f10b",
    "facebook-circular-logo": "\f10c",
    "instagram": "\f10d",
    "envelope": "\f10e",
    "location": "\f10f",
    "beds": "\f110",
    "bathtub": "\f111",
    "selection": "\f112",
    "like": "\f113",
    "user": "\f114",
    "home": "\f115",
    "pin": "\f116",
    "add": "\f117",
    "person": "\f118",
);

.flaticon-phone-call:before {
    content: map-get($flaticon-map, "phone-call");
}
.flaticon-list:before {
    content: map-get($flaticon-map, "list");
}
.flaticon-menu:before {
    content: map-get($flaticon-map, "menu");
}
.flaticon-heart:before {
    content: map-get($flaticon-map, "heart");
}
.flaticon-up-and-down-arrows:before {
    content: map-get($flaticon-map, "up-and-down-arrows");
}
.flaticon-camera:before {
    content: map-get($flaticon-map, "camera");
}
.flaticon-hide:before {
    content: map-get($flaticon-map, "hide");
}
.flaticon-show:before {
    content: map-get($flaticon-map, "show");
}
.flaticon-twitter:before {
    content: map-get($flaticon-map, "twitter");
}
.flaticon-twitter-1:before {
    content: map-get($flaticon-map, "twitter-1");
}
.flaticon-linkedin:before {
    content: map-get($flaticon-map, "linkedin");
}
.flaticon-facebook-circular-logo:before {
    content: map-get($flaticon-map, "facebook-circular-logo");
}
.flaticon-instagram:before {
    content: map-get($flaticon-map, "instagram");
}
.flaticon-envelope:before {
    content: map-get($flaticon-map, "envelope");
}
.flaticon-location:before {
    content: map-get($flaticon-map, "location");
}
.flaticon-beds:before {
    content: map-get($flaticon-map, "beds");
}
.flaticon-bathtub:before {
    content: map-get($flaticon-map, "bathtub");
}
.flaticon-selection:before {
    content: map-get($flaticon-map, "selection");
}
.flaticon-like:before {
    content: map-get($flaticon-map, "like");
}
.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
.flaticon-home:before {
    content: map-get($flaticon-map, "home");
}
.flaticon-pin:before {
    content: map-get($flaticon-map, "pin");
}
.flaticon-add:before {
    content: map-get($flaticon-map, "add");
}
.flaticon-person:before {
    content: map-get($flaticon-map, "person");
}
