/* ----------------------------------
	ANIMATION 
 ------------------------------------ */


@keyframes left-to-right {
	0%{
		transform: translateX(0px);
	}
	50%{
		transform: translateX(10px);
	}
	100%{
		transform: translateX(0px);
	}
}
@keyframes right-to-left {
	0%{
		transform: translateX(0px);
	}
	50%{
		transform: translateX(-10px);
	}
	100%{
		transform: translateX(0px);
	}
}