/* ----------------------------------
	area section Styles
 ------------------------------------ */

.area-wrapper{
    position: relative;
    z-index: -1;
    .area-container{
        .area-future{
            .blog-featured-img{
                overflow: hidden;
                height: 350px;
                width: auto;
                border-radius: 4px;
                position: relative;
                .content{
                    width: 100%;
                    background: rgba(34, 66, 101, 0.95);
                    padding: 30px;
                    position: absolute;
                    bottom:-19%;
                    border-radius: 4px;
                    @include  transition(0.4s);
                    h4{
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 36px;
                        color: $white;
                    }
                    p{
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 26px;
                        font-family: $lato;
                        color: $primary;
                        margin-bottom: 20px;
                    }
                    a{
                        padding: 8px 16px;
                        border: 1.5px solid #DB8C23;
                        filter: drop-shadow(0px 1px 2px rgba(198, 228, 246, 0.05));
                        border-radius: 999px;
                        color: $white;
                        &:hover{
                            background-color: #DB8C23;
                        }
                    }
                    
                }
                &:hover{
                    .content{
                        bottom:0%;
                    }
                }
            }
        }
        .area-btn{
            a{
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 26px;
                border-radius: 2px;
                padding: 10px 30px;
                background-color: $primary;
                &:hover{
                    background-color:$secondary-3;
                }
            }
        }
        
    }
    .map-element{
        z-index: -1;
        position: absolute;
        top: 15%;
        text-align: center;
    }
}
.area-wrapper-2{
    .blog-featured-img{
        position: relative;
        z-index: 1;
        &:before {
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            content: '';
            position: absolute;
            background: linear-gradient(180deg, rgba(69, 191, 117, 0) 52.59%, #45BF75 102%);
        }
        .blog-content{
            padding-left: 20px;
            padding-bottom: 30px;
            position: absolute;
            bottom: 0%;
            left: 0%;
            h4{
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 26px;
                color: $white;
                margin-bottom: 15px;
            }
            p{
                color: $white;
                i{
                    margin-right: 10px;
                }
            }
        }
        .view-page{
            position: absolute;
            top: 20px;
            right: 20px;
            visibility: hidden;
            opacity: 0;
            @include transition(0.4s);
        }
        &:hover{
            .view-page{
                visibility: visible;
                opacity: 1;
            }
        }
    }
}