/* ----------------------------------
FAQ Section Styles
 ------------------------------------ */

.question-wrapper{
    overflow: hidden;
    .faq-content{
        .accordion{
            .accordion-body {
                padding: 20px 0px;
        }
            .accordion-item{
                border-bottom: 1px solid #EDF3F7;
                border-left:  none;
                border-right: none;
                border-top: none;
                background-color: transparent;
                .accordion-button{
                    padding: 25px 0px;
                    background-color: transparent;
                    color: $primary;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }
        .accordion-button:focus{
            outline: none;
            box-shadow: none;
        }
        .accordion-button:not(.collapsed){
            box-shadow: none;
        }
        .accordion-button:not(.collapsed)::after{
            background-image: url(../img/show.svg);
            transform: rotate(0deg);
        }
        .accordion-button::after{
            background-image: url(../img/hide.svg);
        }

    }
}

// index-3

.question-wrapper-2{
    background: theme-color-3;
    position: relative;
    .question-bg{
        height: 550px;
        position: relative;
        border-radius: 4px;
        .answer-video{
            position: absolute;
            margin-top: 20px;
            width: 390px;
            height: 400px;
            bottom:-150px;
            right: -100px;
            border-radius: 4px;
            .video-play-btn{
                .play-video{
                    width: 60px;
                    height: 60px;
                    background: $theme-color-2;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    animation: playVideo infinite 3s;
                    color: $white;
                }
            }
        }
    }
    .circle-element{
        position: absolute;
        top: 15%;
        left: 15%;
        z-index: -1;
        animation: circle 12s ease-in-out infinite;
    }
    .vector-element{
        position: absolute;
        bottom: -20%;
        left:0%;
        z-index: -1;
    }
}