/* ----------------------------------
	Header Section Styles
 ------------------------------------ */

header{
    width: 100%;
    z-index: 9999;
    /* ----top header------ */
    .header-top-bar{
        padding: 15px 0px;
        border: 1px solid $shadow;
        ul{
            li{
                padding: 0px 10px;
                display: inline-block;
                text-align: left;
                a{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color:$text;
                    i{
                        color: #018ABD;
                        padding-right: 10px;
                    }
                }
            }
        }

        .top-right-content{
            .top-currency{
                padding: 0px 20px;
                border-right: 1.5px solid rgba(1, 138, 189, 0.1);
                p{
                    line-height: 20px;
                    padding-right: 10px;
                    color: $text;
                }
                .currency {
                    button{
                        color: $text;
                        background: rgba(1, 138, 189, 0.1);
                    }
                    .dropdown-menu{
                        min-width: 5rem;
                        margin: 0;
                        li{
                            display: block;
                            padding:0 !important;
                            a{
                                color: $text;
                            }
                        }
                    }
                }

            }

            .language{
                padding: 0px 20px;
                border-right: 1.5px solid rgba(1, 138, 189, 0.1);
                button{
                    color: $text;
                }
                .dropdown-menu{
                    padding: 0;
                    min-width: 5rem;
                    li{
                        padding:0 !important;
                        display: block;
                       a{
                        color: $text;
                       }
                    }
                }
            }

            .top-social-icons{
                padding: 0px 20px;
                a{
                    margin: 0px 5px;
                    i{
                        font-size: 16px;
                        padding: 5px;
                        color: $secondary-2;
                        @include  transition(0.4s) ;
                    }
                    &:hover{
                        i{
                            color: $secondary;
                        }
                    }
                }
            }
        }
    }
    //2
    .header-top-bar-2{
        .language{
            border-right: none !important;
            border-left: 1.5px solid rgba(1, 138, 189, 0.1);
        }
        .time-wedged{
            padding: 0px 20px;
            span{
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 21px;
                color: $text;
                i{
                    color: $secondary;
                    margin-right: 10px;
                }
            }
        }

    }

    /* ----main header------ */
    .main-header-wrapper{
        padding: 25px 0px;
        .header-left{
            .logo{
                margin-right: 100px;
            }
            .main-menu{
                ul{
                    >li{
                        margin: 0px 25px;
                        position: relative;
                        >a{
                            font-family: $heading-font;
                            font-weight: 500;
                        }

                        > ul {
                            position: absolute;
                            top: 100%;
                            width: 200px;
                            background-color:$white;
                            left: 0;
                            z-index: 999;
                            box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
                            visibility: hidden;
                            opacity: 0;
                            transform: translateY(40px);
                            transition: all .5s ease-in-out;
                            padding: 10px 0px;
                            
                            li {
                                display: block;
                                margin: 0px 0px;
                                a { 
                                    display: block;   
                                    // color:$secondary;                           
                                    padding: 12px 25px;
                                    
                                    &:hover {
                                        color: #252525;
                                    }
                                }
                            }
    
                            ul {
                                left: 100%;
                                top: 0;
                            }
                        }
                        &:hover{
                            ul{
                                visibility: visible;
                                opacity: 1;
                                transform: translateY(20px);
                            }
                        }
                    }
                }
            }
        }

        .right-elements{
            .call-action{
                a{
                    position: relative;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 1000px;
                    background: rgba(2, 110, 120, 0.1);
                    font-size: 14px;
                    font-weight: 400;
                    margin: 0px 10px;
                    color:$secondary-2 ;
                   
                }
                .btn-head{
                    position: relative;
                    i{
                        color: $secondary;
                        @include transition(0.6s);
                    }
                    span{
                        position: absolute;
                        top: -20%;
                        right: -5%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: $secondary;
                        color: $white;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 100%;
                        @include transition(0.6s);
                    }
                    &::after{
                        @include absolute(-1);
                        background-color:$secondary;
                        border-radius: 1000px;
                        visibility: hidden;
                        opacity: 0;
                        @include transition(0.4s);
                    }
                    &:hover{
                        i{
                            color: $white;
                        }
                        span{
                            background-color: $shadow;
                            color: $secondary;
                        }
                        &::after{
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
                a:first-child{
                    text-transform: capitalize;
                    i{
                        padding-right: 7px;
                        margin-left: 0px;
                    }
                    color:$white ;
                    width: 155px;
                    background: $secondary;
                    margin-left: 0px;
                }
                .user-wrapper{
                   .user{

                        border-radius: 50%;
                        border: 5px solid rgba(2, 110, 120, 0.1);
                        .user-main{
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;
                            border: 1px solid #ffffff;
                        }
                   } 

                   .user-name{
                    button{
                        margin-left: 20px;
                        color: $text;
                        &::after{
                            // content: "\f078";
                            display: inline-block;
                            margin-left: 0.255em;
                            vertical-align: 0.255em;
                            content: "";
                            border-top: 0.4em solid;
                            border-right: 0.4em solid rgb(0 0 0 / 0%);
                            border-bottom: 0;
                            border-left: 0.4em solid rgb(0 0 0 / 0%);
                        }
                    }

                    ul{
                        max-width: auto !important;
                        li{
                            display: block;
                            a{
                                width: auto;
                                height: auto;
                                background: none;
                                margin:1px;
                                text-align: left;
                                color: $text;
                            }
                        }
                    }
                   }
                }
                
            }
        }
    }

    //2
    .main-header-wrapper-2{
        .right-elements{
            .call-action{
                a{
                    position: relative;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 1000px;
                    background: rgba(2, 110, 120, 0.1);
                    font-size: 14px;
                    font-weight: 400;
                    margin: 0px 10px;
                    color:$secondary-2 ;
                   
                } 
                a:first-child{
                    text-transform: capitalize;
                    i{
                        padding-right: 0px;
                        margin-left: 0px;
                    }
                    color:$white ;
                    width: 40px;
                    background: rgba(2, 110, 120, 0.1);
                    margin-left: 0px;
                }
                a:last-child{
                    text-transform: capitalize;
                    i{
                        padding-right: 7px;
                        margin-left: 0px;
                    }
                    color:$white ;
                    width: 155px;
                    background: $secondary;
                    margin-left: 0px;
                }
                
            }
        }
    }
    /* ----active------ */
    .active-menu{
        position: relative;
        color: $secondary;
        &::after{
            position: absolute;
            clear: both;
            content: "";
            display: block;
            left: -10%;
            width:100%;
            height: 100%;
            top: 0%;
            background-image: url(../img/Dot.svg) !important;
            background-repeat: no-repeat;
            background-position: left left;
        }
    }

    //
    #hamburger {
        // color: $theme-color;
        font-size: 36px;
        line-height: 1;
        text-align: right;
        font-weight: 700;
        
        i {
            cursor: pointer;
        }
    }
}
/* ---------------------------------
   Mobile Menu Style 
------------------------------------*/
.mobile-nav {
    position: fixed;
    right: -380px;
    top: 0;
    width: 320px;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
    transition: right .5s ease-in;
    background-color:$secondary-2;
    padding: 20px;
    z-index: 9999999;
    box-shadow: 0 13px 35px -12px rgba(35,35,35,.15);

    &.show {
        right: 0px;
    }

    .close-nav {
      border: 0;
      background: transparent;
      color: #fff;
      border-radius: 30px;
      font-size: 20px;
      position: absolute;
      left: 20px;
      top: 10px;
    }

    /* Vertical Menu Style */

    .sidebar-nav {
        margin-top: 30px;
    }
    .sidebar-nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: transparent;
    }
    .sidebar-nav ul li{
        display: block !important;
    }
    .sidebar-nav .metismenu {
        display: flex;
        flex-direction: column;
    }
    .sidebar-nav .metismenu>li {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .sidebar-nav .metismenu a {
        position: relative;
        display: block;
        padding: 10px 15px;
        transition: all .3s ease-out;
        text-decoration: none;
        color: #fff;
        outline-width: 0;
        text-transform: capitalize;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    .sidebar-nav .metismenu ul a {
        padding: 10px 15px 10px 35px;
        position: relative;
        &::before {
            clear: both;
            display: block;
            content: "\f067";
            position: absolute;
            right: 0;
            top: 0;
        }
        &:hover {
            padding-left: 40px;
            &::before {
                background-color: #fff;
            }
        }

        &::before {
            position: absolute;
            left: 15px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid #fff;
            content: "";
            top: 50%;
            transition: all .3s ease-in-out;
            transform: translateY(-50%);
        }
    }
    .sidebar-nav .metismenu ul ul {
        list-style-type: circle !important;
    }
    .sidebar-nav .metismenu ul ul a {
        padding: 10px 15px 10px 45px;        
    }
    .metismenu .has-arrow {
        // background: $theme-dark;
    }

    .sidebar-nav .metismenu a:hover,
    .sidebar-nav .metismenu a:focus,
    .sidebar-nav .metismenu a:active {
        text-decoration: none;
        color: #fff;
        // background: $theme-dark;
    }
    .metismenu .has-arrow::after {
        position: absolute;
        content: '';
        width: 0.5em;
        height: 0.5em;
        border-width: 1px 0 0 1px;
        border-style: solid;
        border-color: initial;
        right: 1em;
        transform: rotate(-45deg) translate(0, -50%);
        transform-origin: top;
        top: 50%;
        transition: all .3s ease-out;
    }
    .metismenu .active > .has-arrow::after, .metismenu .has-arrow[aria-expanded="true"]::after {
        transform: rotate(-135deg) translate(0, -50%);
    }

}


#hamburger {
    // color: $theme-color;
    font-size: 36px;
    line-height: 1;
    text-align: right;
    font-weight: 700;
    
    i {
        cursor: pointer;
    }
}

.action-bar {
    .user-wrapper{
        .user{

             border-radius: 50%;
             border: 5px solid rgba(2, 110, 120, 0.1);
             .user-main{
                 width: 45px;
                 height: 45px;
                 border-radius: 50%;
                 border: 1px solid #ffffff;
             }
        } 

        .user-name{
         button{
             margin-left: 20px;
             color: $text;
             &::after{
                 // content: "\f078";
                 display: inline-block;
                 margin-left: 0.255em;
                 vertical-align: 0.255em;
                 content: "";
                 border-top: 0.4em solid;
                 border-right: 0.4em solid rgb(0 0 0 / 0%);
                 border-bottom: 0;
                 border-left: 0.4em solid rgb(0 0 0 / 0%);
             }
         }

         ul{
             max-width: auto !important;
             li{
                 display: block;
                 a{
                     width: auto;
                     height: auto;
                     background: none;
                     margin:1px;
                     text-align: left;
                     color: $text;
                 }
             }
         }
        }
     }
    .call-action{
        a{
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1000px;
            background: rgba(2, 110, 120, 0.1);
            font-size: 14px;
            font-weight: 400;
            margin: 0px 10px;
            color:$secondary-2 ;
        }
        @media (max-width: 991px){
            .theme-btn {
                padding: 0px !important; 
        }
        }

        .btn-head{
            position: relative;
            i{
                color: $secondary;
                @include transition(0.6s);
            }
            span{
                position: absolute;
                top: -20%;
                right: -5%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $secondary;
                color: $white;
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 100%;
                @include transition(0.6s);
            }
            &::after{
                @include absolute(-1);
                background-color:$secondary;
                border-radius: 1000px;
                visibility: hidden;
                opacity: 0;
                @include transition(0.4s);
            }
            &:hover{
                i{
                    color: $white;
                }
                span{
                    background-color: $shadow;
                    color: $secondary;
                }
                &::after{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        a:last-child{
            text-transform: capitalize;
            i{
                padding-right: 7px;
            }
            color:$white ;
            width: 130px;
            background: $secondary;
            margin-left: 0px;
        }
    } 
}



/* ---------------------------------
    Offset Canvas Menu Style 
------------------------------------*/

.offset-menu {
	position: fixed;
	height: 100vh;
	top: 0;
    z-index: 9999999;
    opacity: 0;
    visibility: hidden;
    right: -30%;
    transition: all .5s ease-in-out;
    background-color: $tertary;
    box-shadow: 0 13px 35px -12px rgba(35,35,35,.15);

    &.show {
        opacity: 1;
        visibility: visible;
        right: 0;
    }

    .offset-menu-wrapper {
        width: 360px;
        padding: 80px 30px;
    }

    .theme-btn {
        color: #fff;
    }

    .offset-menu-section {
        margin-top: 40px;
    
        a {
            margin-bottom: 10px;
        }
    
        ul {
            li {
                span {
                    margin-right: 10px;
                }
                margin-bottom: 5px;
            }
        }
    }
    
    #offset-menu-close-btn {
        position: fixed;
        right: 30px;
        font-size: 28px;
        transform: rotate(45deg);
        color: #fff;
        cursor: pointer;
        transition: all .2s ease-in-out;
        z-index: 9;
        top: 20px;

        &:hover {
            color: $tertary;
        }
    }

    .offset-menu-footer {
        margin-top: 35px;
    }

    .offset-menu-social-icon {
        a {
            font-size: 14px;
            background: $tertary;
            display: inline-block;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            line-height: 42px;
            text-align: center;
            margin-right: 5px;
            font-weight: 400;

            &:hover {
                background: $secondary;
            }
        }
    }

}
#scrollUp{
    background-color: $primary;
    @include transition(0.4s);
    &:hover{
        background-color: $secondary;
        color: $tertary;
    }
}
