
/* ----------------------------------
 Section Styles
 ------------------------------------ */

.section-title {
    position: relative;
    margin-bottom: 70px;
    h5 {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
        color: $secondary-2;
        border: 2px solid $secondary-2;
        padding: 0px 20px;
        position: relative;
        display: inline-block;
        margin-bottom: 25px;
        .dot-left{
            &::after{
                content: '';
                clear: both;
                display: block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color:$secondary-2;
                position: absolute;
                bottom: -4px;
                left: -4px;
            }
            &::before{
                top: -4px;
                left: -4px;
                content: '';
                clear: both;
                display: block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color:$secondary-2;
                position: absolute;
            }
        }
        .dot-right{
            &::after{
                bottom: -4px;
                right: -4px;
                content: '';
                clear: both;
                display: block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color:$secondary-2;
                position: absolute;
            }
            &::before{
                top: -4px;
                right: -4px;
                content: '';
                clear: both;
                display: block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color:$secondary-2;
                position: absolute;
            }
        }

    }

    h2 { 
        font-weight: 600;
        font-size: 36px;
        line-height: 48px;
        span{
            font-weight: 400;
        }
        @media (max-width: 500px) {
            font-size: 32px;
            
        }
    }
}
.section-title-2 {
    h6{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
        color: $primary;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }
    .line-element{
        position: absolute;
        top: 10%;
        left: 44%;
        @media (max-width:1000px ){
            left: 46%;
        }
        @media (max-width:600px ){
            left: 44%;
        }
        @media (max-width:425px ){
            left: 40%;
        }
    }
}
//QuestionAnswer
.question-wrapper{
    position: relative;
    .section-title {
        margin-bottom: 0;
    }
    .section-title-2 {
        h6{
            text-align: left;
        }
        .line-element{
            left: 0%;
        }
    }
    .card{
        border: none;
        margin-top: 20px;
    }
    .one{
        background-color:$text-3;
        position: relative;
        padding: 25px 30px;
        z-index: -1;
        .icons{
            border: 2px solid $white;
            border-radius: 50%;
            span{
                width: 100px;
                height:100px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $white;
                margin: 3px;
                border-radius: 50%;
                img{
                    padding: 25px;
                   
                   
                }
            }
        }
        .content{
            margin-left: 30px;
            h5{
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                position: relative;
                &::after{
                    z-index:1;
                    border-radius: 5px;
                    position: absolute;
                    clear: both;
                    content: '';
                    display: block;
                    bottom: -30%;
                    left: 0;
                    width: 210px;
                    height: 10px;
                    background-image: url(../img/home_01/vectoe.svg);
                }
            }
            p{
                font-size: 15px;
            }
        }
    }
    .core-bg{
        z-index: -5;
        width:40%;
        height: 765px;
        position: absolute;
        left: 0%;
        top: 25%;
    }
    .cerle{
        position: absolute;
        top: 0%;
        right: -12%;
        z-index: -1;
    }
    .ractangle{
        position: absolute;
        right: 0%;
        bottom: 0%;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        background: #018ABD;
        width: 400px;
        height: 400px;
        z-index: -5;
    }
    .pluse-right{
        z-index: -5;
        display: inline-block;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 20%;
        right: 10%;
       .plues-one{
            margin-bottom: 15px;
            animation: left-to-right 3s ease-in-out 0.0s infinite;
        }
       .plues-two{
            animation: right-to-left 3s ease-in-out 0.0s infinite;
        }
    }

}

//agents section
.agent-wrapper{
    .single-agent{
        overflow: hidden;
        .card{
            border:none;
            box-shadow: 0px 2px 30px rgba(0, 44, 67, 0.1);
            &:hover{
                .single-img{
                    &:before{
                        height: 100%;
                    }
                }
                .icons{
                    bottom: 38%;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        .single-img{
            position: relative;
            height: 250px;
            width: auto;
            z-index: 1;
            &:before{
                position: absolute;
                z-index: 5;
                top: 0;
                left: 0;
                width: 100%;
                height:0%;
                border-radius: 4px;
                content: "";
                @include transition(0.4s);
                background: rgba(34, 66, 101, 0.4);
                border-radius: 4px;
            }
        }
        .theme-btn{
            z-index: 4;
            top: 3%;
            left: 3%;
            display: inline-block;
            border-radius: 4px;
            font-weight: 600;
            font-size: 12px;
            color: $white;
            padding: 7px 25px;
            position: absolute;
            span{
                top: 35%;
                left: 10%;
                position: absolute;
                margin-right: 10px;
                height: 6px;
                width: 6px;
                background-color:$white;
                border-radius: 50%;
            }
        }
        .content{
            h4{
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                margin-bottom:0px;
            }
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 21px;
            }
            .call{
                margin-top: 15px;
                margin-bottom: 25px;
                .icon{
                    display: flex;
                    justify-content: center;
                    align-items: center !important;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: $primary;
                    margin-right: 10px;

                    i{
                        color: $white;
                        display: inherit;
                        font-size: 16px;
                        margin-right: 0;
                    }
                }
                .icon-content{
                    p{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 10px !important;
                        line-height: 14px;
                        color: $tertary;
                        margin-bottom: 7px;
                    }
                    h5{
                        color: $text;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 21px;
                    }
                }
            }
        }
        .links{
            position: absolute;
            top: 10%;
            right:-20%;
            z-index: 5;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            @include transition(0.7s);

            a{
                margin: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $white;
                i{
                    display: inline;
                    color: $primary;
                }
                &:hover{
                    background-color: $primary;
                    i{
                        color: $white;
                        font-size: 14px;
                    }
                }
            }
        }

        &:hover{
            .links{
                right: 20px;
            }
        }
    }
}

//enquiry-wrapper
.enquiry-wrapper{
    background-color: $text-3;
    position: relative;
    .enquiry-img{
        height: 750px;
        position: absolute;
        top: -10%;
        @media (max-width:768px) {
            position: relative;
        }
    }
}
//brand-carousel-wrapper

.brand-carousel-wrapper{
    position: relative;
    .shape-element-left{
        position: absolute;
        left: 0%;
        bottom: 0%;
    }
    .shape-element-right{
        position: absolute;
        right: 0%;
        bottom: 0%;
    }
}

