//card section
.news-card-wrapper{
    overflow: hidden;
    position: relative;
    .single-blog-card{
        border-radius: 10px;
        filter: drop-shadow(0px 2px 30px rgba(0, 44, 67, 0.08));
        position: relative;
        overflow: hidden;
        background-color: $white;
        .blog-featured-img{
            border-radius: 6px;
            height:240px;
        }
        .contents{
            padding: 35px 20px;
            .post-metabar{
                margin-bottom: 15px;
                a{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: $text;
                    i{
                        color: $secondary;
                        margin-right: 7px;
                    }
                }
            }
            h4{
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 10px;
            }
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 26px;
               margin-bottom: 15px;
            }
            .theme-btn{
                border: 1.5px solid rgba(0, 44, 67, 0.3);
                filter: drop-shadow(0px 1px 2px rgba(198, 228, 246, 0.05));
                padding: 10px 15px;
                border-radius: 999px;
                background-color: transparent;
                color: $primary;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                @include  transition(0.4s) ;
                &:hover{
                    background-color: $secondary-2;
                    color: $white;
                }
    
            }
        }
        .post-date{
            top: 40%;
            right: 0%;
            background-color: $secondary !important;
            position: absolute;
            justify-content:space-between;
            align-items: center;
            width: 105px;
            height: 60px ;
            @include  transition(0.4s) ;
            a{
               padding-left: 20px;
               font-style: normal;
               font-weight: 600;
               font-size: 14px;
               line-height: 28px;
               color: $primary;
               > span{
                font-size: 20px;
               }
            }
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        .tecnoloy{
            position: absolute;
            top: 2%;
            left: 5%;
            p{
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 100%;
                color: $white;
                padding: 10px 15px;
                background-color: $primary;
                border-radius: 999px;
            }
           
        }
        &:hover{
            .post-date{
                background-color: $white !important;
            }
        }
    }

    .cercle-one{
        position: absolute;
        top: -8%;
        left: 14%;  
        transform: rotate(-42deg);
        z-index: -1;
    }
    .cercle-tow{
        position: absolute;
        transform: rotate(20deg);
        bottom: -30% ;
        right:-5% ;
        z-index: -1;
    }
}

//
.single-agent{
    background-color: $white;
    box-shadow: 0px 2px 30px rgba(0, 44, 67, 0.1);
    border-radius: 4px;
    position: relative;
    .properties-featured-img{
        height: 275px;
        border-radius: 6px;
        width: 100%;
    }
    .content{
        margin-top: 20px;
        h5{
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
        }
        p{
            margin-bottom: 10px;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 21px;
            a{
                text-decoration: underline;
            }
        }
        p{
            span{
                color: #02294B;
                font-weight: 500;
            }
        }
       .btn-wedged{
        margin-top : 25px;
        a{
            padding: 15px 30px;
            border-radius: 999px;
            background-color: $secondary;
        }
       }
       .latest{
        top: 7%;
        right: 10%;
        position: absolute;
        background-color: $tertary;
        border-radius: 999px;
        p{
           padding: 10px 20px;
           margin-bottom: 0;
           font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 100%;
            color: $white;
            i{
                margin-right: 5px;
                font-size: 8px;
            }
        }
       }
    }
}