/* ----------------------------------
 Testimonials Section Styles
 ------------------------------------ */
 .testimonials-wrapper{
    .testimonial-carousel-img-wrapper{
        .testimonial-carousel{
            .item-img{
                position: relative;
               
                height: 450px;
                .item-imgs{
                }
                .icon{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background: $secondary;
                    position: absolute;
                    top: 10%;
                    right: -10%;
                }
                &::after{
                    clear: both;
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: -15%;
                    left: -15%;
                    height: 100%;
                    width: 100%;
                    border: 20px solid #97CBDC;
                    border-radius: 6px;
                    z-index: -5;
                }
            }
        }
    }
 }