/* ----------------------------------
 Testimonials Section Styles
 ------------------------------------ */
 .testimonials-wrapper{
    background-color: $shadow;
    .testimonial-carousel-img-wrapper{
        .testimonial-carousel{
            .testimonial{
                position: relative;
                height: 450px;
                .item-img{
                    .item{
                        width: auto;
                        height: 450px;
                        border-radius: 4px;
                    }
                }
                .icon{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background: $secondary;
                    position: absolute;
                    top: 10%;
                    right: -10%;
                }
                &::after{
                    clear: both;
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: -15%;
                    left: -15%;
                    height: 100%;
                    width: 100%;
                    border: 20px solid #97CBDC;
                    border-radius: 6px;
                    z-index: -5;
                }
            }
        }
    }
    .testimonial-carousel-content-wrapper{
        position: relative;
        z-index: 1;
        .item-content{
            z-index: 5;
            .icons{
                margin-bottom: 30px;
                .star{
                   a{
                    i{
                        color: $tertary;
                        font-size: 18px;
                    }
                   }
                }
            }
            .content{
                p{
                    font-style: italic;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 32px;
                    margin-bottom: 20px;
                }
                h5{
                    font-style: normal;
                    font-size: 13px;
                    color: $text;
                    font-weight: 400;
                    text-transform: uppercase;
                    span{
                        color: $tertary;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 28px;
                        text-transform: capitalize;
                    }
                }
            }
        }
        .map{
            position: absolute;
            top: 0%;
            left: -05%;
            z-index: -2;
        }
    }
    .slick-list{
        margin: 0px 50px;
        padding: 0px 0px;
    }
    .slick-prev,.slick-next{
        bottom: -15px; 
        right: 35%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid #018ABD;
        overflow: hidden;
        &::after{
            position: absolute;
            content: '';
            clear: both;
            width: 50%;
            height: 100%;
            background-color: $secondary;
            top: 0%;
            right: 0%;
            z-index: 1;
            transition: all 0.4s ease-in-out !important;
        }
        i{
            font-size: 20px;
            color: $primary;
            z-index: 5;
            transition: all 0.4s ease-in-out !important;
        }
        &:hover{
            &::after{
                width: 100%;
            }
            &::after{
                width: 100%;
            }
            i{
                color: $white;
            }
        }
    }
    .slick-next {
        left:35% !important;
        &::after{
            position: absolute;
            top: 0%;
            left: 0%;
            transition: all 0.4s ease-in-out !important;
        }
    }
 }
 .testimonials-wrapper-2{
    background-color: $white;
    .queer-element{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: $theme-color-2;
        margin-bottom: 30px;
    }
    .customer-item{
        .customer-widget{
            background-color:  #FFF5F5;
            .customer-img{
                height: 300px;
                border-radius: 4px;
            }
            .customer-content{
                p{
                    font-style: italic;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 32px;
                }
                .rating{
                    margin-top: 40px;
                    .author{
                        h5{
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 28px;
                            margin-bottom: 10px;
                        }
                        p{
                            font-style: normal;
                            font-weight: 400;
                            font-size: 13px;
                            line-height: 100%;
                        }
                    }
                    .star-rating{
                        i{
                            color: $theme-color-2;
                        }
                    }
                }
            }
        }
    }
    .pluse-element{
        position: absolute;
        top: 5%;
        left: 10%;
        animation: pluse 8s ease-in-out infinite;
    }
 }